$dark-grey: #223;
$font-white: #ccc;
$sans-serif: 'Lato', sans-serif;
$serif: 'Merriweather', serif;
$title: 'Rubik', sans-serif;

.film-browser {
  margin: 15vh auto 0;
  font-family: $title;
  background-color: $dark-grey;
  padding: 2em;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 900px;
  p {
    font-family: $sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: $font-white;
    margin-bottom: 0.2em;
  }
  h1 {
    font-size: 24px;
    text-transform: capitalize;
    color: $font-white;
    margin-bottom: 10px;
  }
  h2 {
    font-size: 16px;
    text-transform: uppercase;
  }
  section.blurb > p {
    line-height: 1.4em;
    font-size: 14px;
    font-family: $serif;
    font-weight: normal;
    color: #aab;
    padding: 1em 0.5em;
  }

  header {
    align-self: flex-start;
  }
}

.film-browse-container {
  padding-top: 20px;
  display: grid;
  grid-auto-rows: 217px;
  grid-template-columns: repeat(5,150px);
  grid-auto-flow: row;
  grid-gap: 15px;
  justify-items: center;
  margin: 0 auto 20px;
}

main.index {
  margin: 15vh auto 0;
  max-width: 800px;
  h2 {
    font-size: 24px;
    font-family: $serif;
    color: $font-white;
    font-weight: bold;
    padding-bottom: 0.2em;
  }
}

.like-menu {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  button {
    margin-right: 0.3em;
  }
  p {
    padding-bottom: 0.2em;
  }
}