$dark-grey: #223;
$font-white: #ccc;
$sans-serif: 'Lato', sans-serif;
$serif: 'Merriweather', serif;
$title: 'Rubik', sans-serif;

.film-browser {
  margin: 15vh 100px 0;
  font-family: $title;
  background-color: $dark-grey;
  padding: 2em;
  border-radius: 5px;
  h1 {
    font-size: 24px;
    text-transform: capitalize;
    color: $font-white;
    margin-bottom: 10px;
  }
  h2 {
    font-size: 16px;
    text-transform: uppercase;
  }
}

.film-browse-container {
  padding-top: 20px;
  display: grid;
  grid-template-rows: repeat(5,1fr);
  grid-template-columns: repeat(5,1fr);
  grid-auto-flow: row;
  grid-gap: 15px;
  justify-items: center;
  margin-bottom: 20px;
  min-width: 900px;
}