$dark-grey: #283038;
$shale-blue:#578;
$font-white: #ccc;
$lighter-grey: #345;
$rating-menu-grey: #456;
$sans-serif: 'Lato', sans-serif;

nav.header-nav {
  width: 500px;
  display: flex;
  position: relative;
  justify-content: space-between;
  height: 100px;
  align-items: center;
}

.nav-container {
  margin-right: 2em;
}

.login-form {
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  text-transform: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #14181c;
  z-index: 3;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 10px;
}

.header-nav > .login-form > .error-container {
  position: absolute;
  width: 100%;
  left: 1em;
  top: 10vh;
  height: 2em;
}

input[type=text], input[type=password], textarea {
  border-radius: 5px;
  background-color: $dark-grey;
  color: $font-white;
  font-family: $sans-serif;
  font-size: 12px;
}

label {
  display: block;
}

.login-form > label {
  display: flex;
  flex-direction: column;
  width: 150px;
  position: relative;
  margin-right: 10px;
}

label > p {
  margin-bottom: 5px;
}

label > span {
  position: absolute;
  top: 0;
  right: 0;
}

.exit-button {
  height: 20px;
  width: 20px;
  margin-right: 5px;
  position: relative;
}

.exit-button > a {
  padding: 5px; 
}