$dark-grey: #283038;
$shale-blue:#578;
$font-white: #ccc;
$lighter-grey: #334455;
$font-grey: #aab;
$sans-serif: 'Lato', sans-serif;
$serif: 'Merriweather', serif;
$title: 'Rubik', sans-serif;

.review-list-container, .list-previews-container {
  padding: 20px;
  font-family: $serif;
  color: $font-white;
  h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
}

div.border {
  border-bottom: 1px solid $font-white;
  margin-bottom: 10px;
}

.film-review {
  color: $font-grey;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 0.5em;
}

.film-review > section {
  margin-left: 1em;
  line-height: 1.2em;
}

.film-review > section > p {
  font-size: 14px;
  margin-bottom: 0.2em;
}

.film-review > p {
  grid-area: review;
  line-height: 1.2em;
  padding: 0.5em;
  font-size: 14px;
}

.film-review > section > header > div > p {
  color: #9ab;
  font-size: 15px;
  font-weight: 500;
  font-family: $sans-serif;
  margin-right: 0.5em;
}

.film-review > section > header > div > a {
  margin-right: 0.5em;
}

.film-review > section > header > div > a:hover {
  color: $font-white;
}

.film-review > section > header > div {
  display: flex;
  margin: 0.2em 0;
}

.film-review > section > header > div > span.rating {
  fill: #5e7;
  stroke: #5e7;
}

.film-review span.like > svg {
  fill: #d45;
  stroke: #d45;
  fill-rule: nonzero;
}

.film-review > div.border {
  border-bottom: 1px solid $shale-blue;
}

.film-review h3 {
  font-size: 18px;
  font-weight: bold;
}

.film-review h4 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0.3em;
}

.film-review > header > div > .rating > * {
  margin-right: 0.1em;
  height: 14px;
  width: 14px;
}

article.film-review span.rating {
  margin-right: 0.3em;
}

article.film-review span.like {
  margin-top: 0.1em;
  margin-right: 0.3em;
}

.review-footer {
  display: flex;
  flex-direction: row;
}

.review-footer > * {
  margin-right: 0.8em;
  font-family: $sans-serif;
  font-size: 14px;
  font-weight: bold;
}

a.user-link {
  color: $font-white;
}

.review-like-button > svg {
  fill-rule: nonzero;
  fill: $font-grey;
}

button.review-like-button.clicked > svg {
  fill: #d45;
}

.film-entry h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 0 0.5em;
}

.film-entry {
  color: $font-grey;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 0.5em;
}

.film-entry > header {
  margin-top: 0.5em;
}

.film-entry > header > div {
  fill: #5e7;
  stroke: #5e7;
  display: flex;
  flex-direction: row;
}

.list-preview {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 30px 1fr;
  grid-template-areas: "poster title" "poster bio";
  color: $font-grey;
  margin-bottom: 10px;
  font-family: $serif;
  header {
    margin-top: 0.5em;
  }
  h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0.25em;
  }
}

aside.poster-preview {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  grid-area: poster;
}

aside.poster-preview > div {
  width: 40px;
}

.list-preview header {
  grid-area: title;
  border-bottom: 1px solid $font-white;
}

.list-preview .list-blurb-preview {
  margin-top: 0.5em;
  grid-area: bio;
  font-size: 14px;
  white-space: no-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

article.user-entry > header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5em;
  h3 {
    margin-right: 1em;
    color: $font-white;
    font-family: $sans-serif;
    font-weight: bold;
    font-size: 20px;
  }

  p {
    color: $font-grey;
    font-family: $sans-serif;
    font-size: 12px;
    font-weight: bold;
  }
}