$dark-grey: #283038;
$shale-blue:#578;
$font-white: #ccc;
$lighter-grey: #345;
$rating-menu-grey: #456;
$sans-serif: 'Lato', sans-serif;
$serif: 'Merriweather', serif;
$title: 'Rubik', sans-serif;

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(#14181c, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
}

.signup-form-container {
  opacity: 1;
  font-family: $sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-transform: none;
  width: 150px;
  background-color: $rating-menu-grey;
  color: $font-white;
  border-radius: 5px;
  padding: 2.5vh 2.5vw; 
  input[type=text], input[type=password], textarea {
    margin-left: 0.3em;
    background-color: $shale-blue;
    margin-bottom: 1em;
  }
}

.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.signup-form-container > label > p {
  margin-bottom: 1em;
}

.signup-form-container > .exit-login-button {
  float: right;
}